/* переменные */
:root {
  --base: #e4b233;
}

/* base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: background 0.4s, background-color 0.4s;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

a {
  text-decoration: none;
}

/* общая разметка */
.App {
  display: grid;
  grid-template-columns: 1fr 1fr;

  min-width: 100%;
  min-height: 100vh;

  padding-left: calc(100vw - 100%);
}

.App > .left {
  padding: 100px 60px;
}

.App > .right {
  padding: 100px 60px;
}

.left {
  border-right: 1px solid var(--base);
}
